apiVersion: v1
kind: Service
metadata:
  name: saga-controller-service
  namespace: sagasrv-controller
  labels:
    app: controller
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 19090
      targetPort: 19090
      protocol: TCP
    - name: grpc
      port: 18090
      targetPort: 18090
      protocol: TCP
    - name: metrics
      port: 9000
      targetPort: 9000
      protocol: TCP
  selector:
    app: controller 