---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ ethproxy_config.namespace }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ethproxy-config
  namespace: {{ ethproxy_config.namespace }}
data:
  ethproxy.yml: |
{{ lookup('template', 'ethproxy-config.yml.j2') | indent(4, true) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: ethproxy-secrets
  namespace: {{ ethproxy_config.namespace }}
stringData:
  FEEPAYER_KEYS: "{{ ethproxy_config.feepayer_private_keys | join(',') }}"
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: ethproxy
  namespace: {{ ethproxy_config.namespace }}
spec:
  replicas: {{ ethproxy_config.replicas | default(ethproxy_replicas) }}
  selector:
    matchLabels:
      app: ethproxy
  template:
    metadata:
      labels:
        app: ethproxy
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "9090"
    spec:
      containers:
      - name: ethproxy
        image: sagaxyz/ethproxy:{{ ethproxy_config.ethproxy_version | default(ethproxy_version) }}
        command:
        - /bin/sh
        - -c
        - |
          INDEX=${HOSTNAME##*-}
          export ETHPROXY_SERVICES_FEE_PAYER_PRIVATE_KEYS=$(echo $FEEPAYER_KEYS | tr ',' '\n' | sed -n "$((INDEX+1))p")
          exec /usr/bin/ethproxy -config /etc/saga/ethproxy/ethproxy.yml
        envFrom:
        - secretRef:
            name: ethproxy-secrets
        ports:
        - containerPort: 8545
        volumeMounts:
        - name: config-volume
          mountPath: /etc/saga/ethproxy
        resources: {{ ethproxy_config.ethproxy_resources | default(ethproxy_resources) }}
      volumes:
      - name: config-volume
        configMap:
          name: ethproxy-config
          items:
          - key: ethproxy.yml
            path: ethproxy.yml
---
apiVersion: v1
kind: Service
metadata:
  name: ethproxy
  namespace: {{ ethproxy_config.namespace }}
spec:
  selector:
    app: ethproxy
  ports:
  - port: 8545
    targetPort: 8545
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "ingress-ethproxy-jsonrpc"
  namespace: {{ ethproxy_config.namespace }}
  annotations:
    saga.xyz/ingress-protocol: "jsonrpc"
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/cors-allow-origin: "*"
    nginx.ingress.kubernetes.io/cors-allow-methods: "GET, PUT, POST, DELETE, PATCH, OPTIONS"
    nginx.ingress.kubernetes.io/cors-allow-headers: "*"
{% if cert_manager_enabled %}
    cert-manager.io/cluster-issuer: "{{ cert_manager_cluster_issuer_name }}"
spec:
  ingressClassName: nginx
  tls:
    - secretName: "ingress-ethproxy-jsonrpc-tls"
      hosts:
{% for url in ethproxy_config.ethproxy_urls %}
        - "{{ url }}"
{% endfor %}
{% else %}
spec:
  ingressClassName: nginx
{% endif %}
  rules:
{% for url in ethproxy_config.ethproxy_urls %}
    - host: "{{ url }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: ethproxy
                port:
                  number: 8545
{% endfor %}
{% if ethproxy_config.fullnodes.enabled %}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: chainlet-env
  namespace: {{ ethproxy_config.namespace }}
data:
  CHAIN_ID: {{ ethproxy_config.chain_id }}
  GENESIS_URL: "{{ ethproxy_config.fullnodes.genesis_url }}"
  PEERS: "{{ ethproxy_config.fullnodes.peers }}"
  DENOM: "{{ ethproxy_config.fullnodes.denom }}"
  LOG_LEVEL: "info"
  SYNC_RPC: "{{ ethproxy_config.fullnodes.sync_rpc_urls | join(',') }}"
  MONIKER: "{{ moniker }}"
  PRUNING: "{{ ethproxy_config.fullnodes.pruning_strategy }}"
  OPTS: "{{ ethproxy_config.fullnodes.opts | default('') }}"
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: chainlet-rw
  namespace: {{ ethproxy_config.namespace }}
spec:
  replicas: {{ ethproxy_config.fullnodes.replicas_rw }}
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: chainlet-rw
  template:
    metadata:
      labels:
        app: chainlet-rw
        chainId: "{{ ethproxy_config.chain_id }}-rw"
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "26660"
    spec:
      nodeSelector:
        kubernetes.io/os: linux
      restartPolicy: Always
      containers:
        - image: "sagaxyz/sagaos:{{ ethproxy_config.fullnodes.version }}"
          name: chainlet
          command: ["bash", "/root/start-fullnode.sh"]
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: chainlet-env
          ports:
            - containerPort: 26657
            - containerPort: 26656
            - containerPort: 9090
            - containerPort: 1317
            - containerPort: 8545
            - containerPort: 8546
            - containerPort: 26660
          readinessProbe:
            exec:
              command:
                - /bin/bash
                - -c
                - sagaosd status | jq -r '(.SyncInfo // .sync_info) | .catching_up' | grep false
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 4
          resources:
            requests:
              memory: "1Gi"
              cpu: "1"
            limits:
              memory: "4Gi"
              cpu: "2"
          volumeMounts:
            - name: data-volume
              mountPath: "/root/.sagaosd/data"
            - name: config-volume
              mountPath: "/root/.sagaosd/config"
      volumes:
        - name: config-volume
          emptyDir: {}
  volumeClaimTemplates:
    - metadata:
        name: data-volume
      spec:
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: 20Gi

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: chainlet-ro
  namespace: {{ ethproxy_config.namespace }}
spec:
  replicas: {{ ethproxy_config.fullnodes.replicas_ro }}
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: chainlet-ro
  template:
    metadata:
      labels:
        app: chainlet-ro
        chainId: "{{ ethproxy_config.chain_id }}-ro"
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "26660"
    spec:
      nodeSelector:
        kubernetes.io/os: linux
      restartPolicy: Always
      containers:
        - image: "sagaxyz/sagaos:{{ ethproxy_config.fullnodes.version }}"
          name: chainlet
          command: ["bash", "/root/start-fullnode.sh"]
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: chainlet-env
          ports:
            - containerPort: 26657
            - containerPort: 26656
            - containerPort: 9090
            - containerPort: 1317
            - containerPort: 8545
            - containerPort: 8546
            - containerPort: 26660
          readinessProbe:
            exec:
              command:
                - /bin/bash
                - -c
                - sagaosd status | jq -r '(.SyncInfo // .sync_info) | .catching_up' | grep false
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 4
          resources:
            requests:
              memory: "1Gi"
              cpu: "1"
            limits:
              memory: "4Gi"
              cpu: "2"
          volumeMounts:
            - name: data-volume
              mountPath: "/root/.sagaosd/data"
            - name: config-volume
              mountPath: "/root/.sagaosd/config"
      volumes:
        - name: config-volume
          emptyDir: {}
  volumeClaimTemplates:
    - metadata:
        name: data-volume
      spec:
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: 20Gi
---
apiVersion: v1
kind: Service
metadata:
  name: "chainlet-ro"
  namespace: {{ ethproxy_config.namespace }}
spec:
  type: ClusterIP
  selector:
    app: "chainlet-ro"
  ports:
    - name: tendermintrpc
      port: 26657
      targetPort: 26657
    - name: tendermintrpc-p2p
      port: 26656
      targetPort: 26656
    - name: cosmosgrpc
      port: 9090
      targetPort: 9090
    - name: tendermintlcd
      port: 1317
      targetPort: 1317
    - name: evmjsonrpc
      port: 8545
      targetPort: 8545
    - name: evmws
      port: 8546
      targetPort: 8546
---
apiVersion: v1
kind: Service
metadata:
  name: "chainlet-rw"
  namespace: {{ ethproxy_config.namespace }}
spec:
  type: ClusterIP
  selector:
    app: "chainlet-rw"
  ports:
    - name: tendermintrpc
      port: 26657
      targetPort: 26657
    - name: tendermintrpc-p2p
      port: 26656
      targetPort: 26656
    - name: cosmosgrpc
      port: 9090
      targetPort: 9090
    - name: tendermintlcd
      port: 1317
      targetPort: 1317
    - name: evmjsonrpc
      port: 8545
      targetPort: 8545
    - name: evmws
      port: 8546
      targetPort: 8546
{% endif %}