---
apiVersion: v1
kind: Namespace
metadata:
  name: sagasrv-ssc
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ssc-pvc
  namespace: sagasrv-ssc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ ssc_volume_size }}
  storageClassName: {{ ssc_storage_class }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ssc-scripts
  namespace: sagasrv-ssc
data:
  start.sh: |
    {{ lookup('file', role_path ~ '/templates/start.sh') | indent(4) }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ssc
  namespace: sagasrv-ssc
  labels:
    app: ssc
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ssc
  template:
    metadata:
      labels:
        app: ssc
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "26660"
    spec:
      containers:
        - name: ssc
          image: {{ ssc_image }}
          command: [ "/scripts/start.sh"]
          env:
{% if ssc_mode == "validator" %}
            - name: VALIDATOR_MNEMONIC
              value: "{{ ssc_validator_mnemonic }}"
{% endif %}
            - name: CHAIN_ID
              value: "{{ ssc_chain_id }}"
            - name: GENESIS_URL
              value: "{{ ssc_genesis_url }}"
            - name: MONIKER
              value: "{{ ssc_moniker }}"
            - name: OPTS
              value: "{{ ssc_start_args }}"
            - name: PERSISTENT_PEERS
              value: "{{ ssc_persistent_peers }}"
          ports:
            - containerPort: 26657
              name: rpc
            - containerPort: 26656
              name: p2p
            - containerPort: 9090
              name: grpc
            - containerPort: 26660
              name: metrics
          volumeMounts:
            - name: ssc-data
              mountPath: /root/.ssc
            - name: ssc-scripts
              mountPath: /scripts
          resources:
            requests:
              memory: "{{ ssc_resources.requests.memory }}"
              cpu: "{{ ssc_resources.requests.cpu }}"
            limits:
              memory: "{{ ssc_resources.limits.memory }}"
              cpu: "{{ ssc_resources.limits.cpu }}"
      volumes:
        - name: ssc-data
          persistentVolumeClaim:
            claimName: ssc-pvc
        - name: ssc-scripts
          configMap:
            name: ssc-scripts
            defaultMode: 0755
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: ssc
  namespace: sagasrv-ssc
  labels:
    app: ssc
spec:
  type: ClusterIP
  ports:
    - name: rpc
      port: 26657
      targetPort: 26657
    - name: p2p
      port: 26656
      targetPort: 26656
    - name: grpc
      port: 9090
      targetPort: 9090
    - name: metrics
      port: 26660
      targetPort: 26660
  selector:
    app: ssc