apiVersion: v1
kind: Service
metadata:
  name: spc-public
  namespace: sagasrv-spc
  labels:
    app: spc
spec:
  type: LoadBalancer
  selector:
    app: spc
  ports:
    - name: tendermint-p2p
      protocol: TCP
      targetPort: 26656
      port: 26656